@use"./utilities/variables" as*;
@use"./utilities/extends" as*;
@use"./utilities/mixins" as*;
@use"./global/reset" as*;
@use"./layout/main" as*;
@use"./layout/footer" as*;
@use"./pages/contacto" as*;
@use"./pages/sobrenosotros" as*;
@use"./pages/paginas" as*;
@use"./mq/mediaqueries" as*;


.logo {
    background-color: $color-grisclarito;
   
    padding: 2px;
    margin: 7px;
    width: 6rem;
    
    border-radius: 50%;
    border: 1px solid transparent;
    box-shadow: 0 0 10px $color-sombra;
}

.contenedorsuperior{
    background-color: $color-grisocuro;
    top: 0px;
    width: 100%;
    height: 110px;
    
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

.imgtienda1{
    display: block;
    width: 100%;
    box-shadow: 0 0 10px $color-sombra;
}

.imgtienda2{
display: none;
}

.sobrenosotros {
margin-top: 100px;

.h1{
color: $color-negro;
text-align: center;
font-size: 30px;
margin: 10px;
}

.p {
color: $color-negro;
margin: 20px;
text-align: center;
}

.a{
    color: $color-negro;
    display: flex;
    justify-content: center;
}

}





